*{
    font-family: 'Roboto', sans-serif;
    z-index: 1;
}
body{
    display:grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}
main{
    background-color: #052051;
}

header{
    padding: 16px 0px 30px 0px;
}

.grid{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 500px;
}
#input-user{
    position: relative;
    height: 80%;
    background-color: white;
    border-radius: 26px;
    padding: 26px;
    margin: 0px 20px 0px 50px;
}
#rule{
    position: absolute;
    bottom: 80px;
    font-size: 1vw;
}
textarea{
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 2vw;
    scrollbar-color: #A9CEB6 #cbddd2;
    scrollbar-width: thin;
}
textarea:focus{
    width: 100%;
    border: none;
    resize: none;
    outline: none;
}

.btn{
    position: absolute;
    bottom: 10px;
    align-items: center;

    width: 30%;
    height: 60px;

    background: #356EA9;
    border-radius: 16px;
    font-size: 2vw;
    border-color: #356EA9;

    display: inline;
    
}

.btn:hover{
    transform: scale(1.05);
    transition-duration: 0.75s;
}

.buttons-container:hover > :not(:hover){
    opacity: 0.3;
    transition-duration: 1s;
}

.btn:active{
    background-color: #052051;
    color: white;
}
.copiar{
    left: 80%;
    display: none;
    color: white;
    width: 15%;
}
.encriptar{
    left: 15%;
    color: white;
}

.desencriptar{
    background-color : #D8DFE8;
    right: 15%;
    color: #356EA9;
}
#output{
    position: relative;
    height: 80%;
    background-color: white;
    border-radius: 26px;
    padding: 26px;
    margin: 0px 20px 0px 70px;
}

#image-output{
    width: 100%;
    height: 30%;
    position: relative;
}
#image-meditation{
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
}
#image-computer{
    width: 80%;
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 1;
}
#txt-output{
    display: none;
}
#msg{
    position: absolute;
    bottom: 50px;
    left: 18%;
    font-size: 1vw;
    text-align: center;
}
#msg-title{
    position: absolute;
    bottom: 80px;
    left: 25%;
    font-size: 2vw;
    text-align: center;
    font-weight: bold;
}

.footerInfo{
    display: flex;
    background-color:#ffffff;
    width: 100%;

    font-weight: bold;
    justify-content: end;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
}
.social{
    width: 16px;
    height: auto;
    margin: 2px;
    color: black;
}

.notificacion{
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    width: 250px;
    height: 50px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    width: 200px;
    color: #31D272;
    background-color: #dffcea;;

    position: absolute;
    top: 2px;
    left: calc(50% - 250px/2);
}

.icon{
    width: 20px;
    margin: 3px;
}


.burbuja{
    position: absolute;
    top: calc(100% - 80px);

    border-radius: 50%;

    z-index: 0;

    width: 80px;
    height: 80px;
    margin: 0;
    padding: 0;
    background-color: white;
    opacity: 0.3;
}

/*----------------Animations-------------------*/
@keyframes notification-in {
    0%{
        transform: translateY(-500px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes notification-out {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-500px);
        opacity: 0;
    }
}